@model PhotographyManager.DataAccess.UnitOfWork.MyUnitOfWork

@{
    ViewBag.Title = "Home Page";
}

<h3 style="color:white">Users' albums:</h3>
@using (Html.BeginForm())
{
    for (int i = 0; i < Model.GetUsers().GetAll().Count; i++) 
    { 
        <p>@Html.Label(Model.GetUsers().GetAll()[i].Name)</p>
        for (int j = 0; j < Model.GetUsers().GetAll()[i].Album.Count; j++) 
           { 
           @Html.ActionLink(Model.GetUsers().GetAll()[i].Album.ElementAt(j).Name + "     ", "ObservePhotos", new { albumName = Model.GetUsers().GetAll()[i].Album.ElementAt(j).Name }, null);
           }
         
    }        
}

 
<ol class="round">

</ol>
