@model PhotographyManager.Model.Album

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*Просмотр фотографий в альбоме*@
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ObservePhotos</title>
    


</head>
<body>
    <div class="content-wrapper">
        @using (Html.BeginForm())
        {
            for (int i=0; i<Model.Photo.Count; i++)
            {
                <img src=@Url.Action("ShowPhoto", "Home", new { id = Model.Photo.ElementAt(i).ID }) alt="" width="200" height="200" />
                <br />
                @Html.Label(Model.Photo.ElementAt(i).Name+ "      ");
                <br />
            }
        }
    </div>
</body>
</html>
