@model PhotographyManager.Model.User

@{
    ViewBag.Title = "AddAlbum";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ManageAlbums</title>
</head>
<body>
    <div>
        <form method="post" enctype="multipart/form-data" action="/Home/AddAlbumToUser/@Model.ID.ToString()">
            Name:<input type="text" name="Name" />
            <br />
            Discription:<input type="text" name="Discription" />
            <INPUT type="submit" value="Add Album" runat="server" id="Button1">
        </form>
    </div>
</body>
</html>