@model PhotographyManager.Model.User

@{
    ViewBag.Title = "ManagePhotosInAlbum";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ManagePhotosInAlbum</title>
</head>
<body>
    <div>

        @using (Html.BeginForm())
{
   <h1>Photos in Album</h1>
    for (int i = 0; i < Model.Photo.Count; i++)
    {

        if (Model.Photo.ElementAt(i).Album.Where(album => album.Name == ViewBag.AlbumName).Count() != 0)
        {
            <img src="/Home/ShowPhoto/@Model.ID.ToString()?photoNumber=@i.ToString()" alt="" width="200" height="200" />
            <br />
             @Html.ActionLink("Delete Photo", "DeletePhotoFromAlbum", new { Id = Model.ID, albumName = ViewBag.AlbumName, photoId = Model.Photo.ElementAt(i).ID}, null)    
            <br />  
        }
    }
    
       <h1>Photos not in Album</h1>
    for (int i = 0; i < Model.Photo.Count; i++)
    {

        if (Model.Photo.ElementAt(i).Album.Where(album => album.Name == ViewBag.AlbumName).Count() == 0)
        {
            <img src="/Home/ShowPhoto/@Model.ID.ToString()?photoNumber=@i.ToString()" alt="" width="200" height="200" />
            <br />
             @Html.ActionLink("Add Photo", "AddPhotoToAlbum", new { Id = Model.ID, albumName = ViewBag.AlbumName, photoId = Model.Photo.ElementAt(i).ID }, null) 
            <br />     
        }
    }


        }
    </div>
</body>
</html>

