@model PhotographyManager.Model.User

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
@*Домашняя страница пользователя с его фотоальбомами*@



<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyHomePage</title>
</head>
<body>
    <h3 style="color:white">@Model.Name</h3>
    <div>
        @using (Html.BeginForm())
        {
            for (int i = 0; i < Model.Album.Count; i++)
            {
                @Html.ActionLink(Model.Album.ElementAt(i).Name + "      ","ObservePhotos" ,new {Id = Model.ID,ind = i}, null);
            }
        }
        <br />
        
    </div>
    @Html.ActionLink("Manage Photos", "ManagePhotos", new { Id = Model.ID },null)
</body>
</html>
