@model PhotographyManager.DataAccess.UnitOfWork.MyUnitOfWork

@{
    ViewBag.Title = "Index Page";
}

<h3 style="color:white">Users' albums:</h3>
<div class="row">
@using (Html.BeginForm())
{
    for (int i = 0; i < Model.GetUsers().GetAll().Count; i++) 
    {
        if (Model.GetUsers().GetAll().ElementAt(i).Album.Count != 0) 
        { 
        <p>@Html.Label(Model.GetUsers().GetAll()[i].Name, new {@class="label label-success"})</p>
        for (int j = 0; j < Model.GetUsers().GetAll()[i].Album.Count; j++) 
           { 
                <figure style="display:inline-block; border:none">
                @if (Model.GetUsers().GetAll()[i].Album.ElementAt(j).Photo.Count != 0)
                {
                    <img src=@Url.Action("ShowMiniPhoto", "Home", new { id = Model.GetUsers().GetAll()[i].Album.ElementAt(j).Photo.ElementAt(0).ID }) alt=""/>
                }
                else {<img src="~/Content/themes/base/images/ui-bg_flat_0_aaaaaa_40x100.png" alt="" width="200" height="200"/> }
                    <figcaption style="border:none">@Html.ActionLink(Model.GetUsers().GetAll()[i].Album.ElementAt(j).Name + "      ", "ObservePhotos", new { albumName = Model.GetUsers().GetAll()[i].Album.ElementAt(j).Name }, null)</figcaption>
                </figure>
           }
       }
         
    }        
}

</div>


