@model PhotographyManager.Model.User

@{
    ViewBag.Title = "ManagePhotosInAlbum";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ManagePhotosInAlbum</title>
</head>
<body>
    <div>

        @using (Html.BeginForm())
{
   <h1>Photos in Album</h1>
    for (int i = 0; i < Model.Photo.Count; i++)
    {

        if (Model.Photo.ElementAt(i).Album.Where(album => album.Name == ViewBag.AlbumName).Count() != 0)
        {
            <figure style="display:inline-block">
                <img src=@Url.Action("ShowMiniPhoto", "Home", new { id = Model.Photo.ElementAt(i).ID }) alt=""/>
                <figcaption>
                    @Html.ActionLink("Delete Photo", "DeletePhotoFromAlbum", new { albumName = ViewBag.AlbumName, photoId = Model.Photo.ElementAt(i).ID }, null)
                </figcaption>
            </figure>
             if ((i + 1) % 3 == 0)
            { <br /><br />}

        }
    }

       <h1>Photos not in Album</h1>
    for (int i = 0; i < Model.Photo.Count; i++)
    {

        if (Model.Photo.ElementAt(i).Album.Where(album => album.Name == ViewBag.AlbumName).Count() == 0)
        {
            <figure style="display:inline-block; border:none">
                <img src=@Url.Action("ShowMiniPhoto","Home", new {id=Model.Photo.ElementAt(i).ID}) alt=""/>
                <figcaption style="border:none">
                @Html.ActionLink("Add Photo", "AddPhotoToAlbum", new { albumName = ViewBag.AlbumName, photoId = Model.Photo.ElementAt(i).ID }, null)
                </figcaption>
            </figure>
            if ((i + 1) % 3 == 0)
            { <br /><br />}
        }
    }


}
    </div>
</body>
</html>

