@model  PhotographyManager.Model.Album

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*Просмотр фотографий в альбоме*@
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ObservePhotos</title>
    
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript">
    var BlockNumber = 2;
    var inProgress = false;

    $(window).scroll(function () {
        if ($(window).scrollTop() == $(document).height() -
        $(window).height() && !inProgress) {

            inProgress = true;
            $.ajax({
                @*url: '/api/Ajax/' + BlockNumber.toString() + '/' + @Model.Name +'/',*@
                url: '@@Url.RouteUrl("DefaultApi""api/Ajax",new {blockNumber=' + BlockNumber + ',albumName =' + @Model.Name +' })',
                type: 'GET',           
                dataType: 'json',
                success: function (data) {
                    
                    BlockNumber = BlockNumber + 1;
                    var photos = JSON.parse(data);
                    var div = document.getElementById("photosDiv");
                    $("photosDiv").append(photos);
                    for (var key in photos) {
                        var Id = photos[key].ID;
                        var url = "@@Url.Action('ShowMiniPhoto', 'Home', new { id = "+Id+" })" 
                        div.innerHTML += "<img src="  + url + " alt=''/>";
                           

                    }
                }
            })
            
            inProgress = false;
        }
                });
            
            
    </script> 



    


</head>
<body>
    <div id="photosDiv">
        @{


            if (Model.Photo.Count >= 12) {Html.RenderAction("BlockOfPhotos", "Home", new { Model = Model.Photo.ToList().GetRange(0, 12) });}
            else {Html.RenderAction("BlockOfPhotos", "Home", new { Model = Model.Photo.ToList().GetRange(0, Model.Photo.Count) });}
        }
    </div>
</body>
</html>
