@model PhotographyManager.Model.User

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>




<html>
<head>


    <meta name="viewport" content="width=device-width" />
    <title>MyHomePage</title>
</head>
<body>
    <h3>@Model.Name</h3>
    <div class="well">
        <form method ="post" id="searchForm" enctype="multipart/form-data" action=@Url.Action("Search","Search")>
            <input type="text" id="SearchText" name="SearchText" />
            <br />
            <input type="submit" class="btn btn-primary" id="SearchButton" value="Search"/> 
            </form>
        <form method="post" id="advancedSearchForm" enctype="multipart/form-data" action=@Url.Action("AdvancedSearch","Search")>
            <input type="submit" class="btn btn-primary" id="SearchButton" value="Advanced Search" />
        </form>

</div>
    <br/>
    <h1 class="text-success">My Albums</h1>
    <br />
    <div>
        @using (Html.BeginForm())
        {
            for (int i = 0; i < Model.Album.Count; i++)
            {
                <figure style="display:inline-block; border:none">
                @if (Model.Album.ElementAt(i).Photo.Count != 0)
                {
                    <img src=@Url.Action("ShowMiniPhoto", "Photo", new { id = Model.Album.ElementAt(i).Photo.ElementAt(0).ID }) alt=""/>
                }
                else {<img src="~/Content/themes/base/images/ui-bg_flat_0_aaaaaa_40x100.png" alt="" style="height:200px; width:200px"/> }
                    <figcaption style="border:none">@Html.ActionLink(Model.Album.ElementAt(i).Name + "      ", "ObservePhotos", new { albumName = Model.Album.ElementAt(i).Name }, null)</figcaption>
                </figure>
            }
        }
        <br/>        
    </div>
</body>
</html>


