@model  PhotographyManager.Model.Album

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*Просмотр фотографий в альбоме*@
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ObservePhotos</title>
    
    @*<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>*@
    <script type="text/javascript">
    var BlockNumber = 2;
    var inProgress = false;
    var param = { BlockNumber: BlockNumber, AlbumName: "@Model.Name" }
    $(window).scroll(function () {
        if ($(window).scrollTop() == $(document).height() -
        $(window).height() && !inProgress) {
            inProgress = true;
            
            $.ajax({
                url: "api/Ajax/"+param.toString(),
                @*data: JSON.stringify({BlockNumber: BlockNumber, AlbumName: "@Model.Name" }),*@
                type: 'GET',           
                dataType: 'json',
                success: function (result) {
                    
                    BlockNumber = BlockNumber + 1;
                    var photos = JSON.parse(result);
                    var div = document.getElementById("photosDiv");
                    $("photosDiv").append(photos);
                    for (var key in photos)
                       {
                        var Id = photos[key].ID;
                        var url = "@@Url.Action('ShowMiniPhoto', 'Home', new { id = "+Id+" })" 
                        div.innerHTML += "<img src="  + url + " alt=''/>";
                       }
                }
            })
            
            inProgress = false;
        }
                });
            
            
    </script> 



    


</head>
<body>
    <div id="photosDiv">
        @for (int i = 0; i < Model.Photo.Count&&i<12; i++)
        {
            <figure style="display:inline-block; border:none; vertical-align:top">
                <img src=@Url.Action("ShowMiniPhoto", "Home", new { id = Model.Photo.ElementAt(i).ID }) alt="" />
                <figcaption style="border:none">
                    @Model.Photo.ElementAt(i).Name
                </figcaption>
            </figure>

            if ((i + 1) % 3 == 0)
            { <br /><br />}
        }
    </div>
</body>
</html>
