<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PhotographyManagerContext" connectionString="data source=AKHRUSTALEV;initial catalog=PhotographyManagerDatabase;integrated security=False;persist security info=True;user id=Hrustalev150893;password=Hrustalev150893;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>