@model PhotographyManager.Model.User

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Photos";
}

<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>My Photos</title>
</head>
<body>
    <div>
        <div>
            <form method="post" enctype="multipart/form-data" id="fileForm"  action="@Url.Action("UploadAsync","Photo")">
                <input id="fileInput" type="file"
                       data-filename-placement="inside" size="28" class="btn btn-primary" name="OriginalLocation" runat="server">
                <input type="submit" value="Upload" runat="server" id="UploadButton" class="btn btn-primary">
            </form>
        </div>
        <br />
        <div id="photosDiv">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            int count1 = Model.Photo.Count;
            for (int i = 0; i < count1; i++)
            {
                <figure style="display:inline-block; border:none">
                    <img src=@Url.Action("ShowMiniPhoto","Photo", new {id = Model.Photo.ElementAt(i).ID}) alt=""/>
                    <figcaption style="text-align: center; border: none; font-family:'Times New Roman'">
                        @Html.ActionLink("Edit Properties", "EditPhotosProperties", "Photo", new {id = Model.Photo.ElementAt(i).ID }, new {id= "EditProperties" })
                        <br />
                        @Html.ActionLink("Delete", "DeletePhoto", "Photo", new { id = Model.Photo.ElementAt(i).ID }, new {id = "DeleteLink" })
                    </figcaption>
                </figure>
            }
        }
        </div>
    </div>
</body>
</html>
