@model PhotographyManager.Model.User

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>My Photos</title>
</head>
<body>
    <div>
        <div class="well">
            <form method="post" enctype="multipart/form-data" action=@Url.Action("UploadAsync","Photo")>
                <input id="OriginalLocation" type="file"
                       size="28" name="OriginalLocation" runat="server" class="btn btn-primary">
                <INPUT type="submit" value="Upload" runat="server" id="Button1" class="btn btn-primary">
            </form>
        </div>
        <br />
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            int count1 = Model.Photo.Count;
            for (int i = 0; i < count1; i++)
            {
                <figure style="display:inline-block; border:none">
                    <img src=@Url.Action("ShowMiniPhoto","Photo", new {id=Model.Photo.ElementAt(i).ID}) alt=""/>
                    <figcaption style="border:none">
                        @Html.ActionLink("Edit Properties", "EditPhotosProperties","Photo", new { id = Model.Photo.ElementAt(i).ID },null)
                        <br />
                        @Html.ActionLink("Delete", "DeletePhoto", "Photo", new { id = Model.Photo.ElementAt(i).ID }, null)
                    </figcaption>
                </figure>
            }
        }
        <br />
        <br />
    </div>
</body>
</html>
