@model PhotographyManager.Model.User

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Manage Albums</title>
</head>
<body>
    <div>
        <div class="well">
            <form method="post" enctype="multipart/form-data" action=@Url.Action("AddAlbum","Album")>
                <INPUT type="submit" value="Add Album" runat="server" id="Button1" class="btn btn-primary">
            </form>
        </div>
        <br />
        @Html.ValidationSummary(true)
        <h1 class ="text-success">Choose an album to manage</h1>
        @using (Html.BeginForm())
        {
            for (int i = 0; i < Model.Album.Count; i++)
            {
                <figure style="display:inline-block; border:none">
                @if (Model.Album.ElementAt(i).Photo.Count != 0)
                {
                    <img src=@Url.Action("ShowMiniPhoto", "Photo", new { id = Model.Album.ElementAt(i).Photo.ElementAt(0).ID }) alt=""/>
                }
                else
                {<img src="~/Content/themes/base/images/ui-bg_flat_0_aaaaaa_40x100.png" alt="" style="height:200px; width:200px" /> }
                    <figcaption style="border:none">@Html.ActionLink(Model.Album.ElementAt(i).Name + "      ", "ManagePhotosInAlbum", new { albumName = Model.Album.ElementAt(i).Name }, null)</figcaption>      
                </figure>
            }       
        }
</div>
    <br />
</body>
</html>
